@model MyProject.EntitiesModel.CompanyInfo
@using MyProject.Hubs
@{
    ViewBag.Title = "账户状态";
    ViewBag.CompanyName = Model.CompanyName;
    Layout = "~/Areas/Company/Views/Shared/ComapnyBasePage.cshtml";
}
<style type="text/css">
    #companyStatus {
        margin: 0 auto;
        width: 250px;
    }
</style>

<div class="row">
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item"><a href="/Company/Edit/Index">账号信息设置</a></li>
            <li class="list-group-item"><a href="/Company/Home/Status">账号审核状态</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <div id="companyStatus">
            @if (ViewBag.CompanyStatus)
            {
                <h3 style="color:forestgreen">已通过验证</h3>
            }
            else
            {
                <h3 style="color:red">未通过验证</h3>
            }
        </div>

    </div>
</div>



@*<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
    <script src="~/signalr/hubs"></script>*@
<script type="text/javascript">
    $('#myTabs li').eq(5).addClass('active');
    @*function getStatus() {
        var status = true;
        var postdata = { companyId:@Model.CompanyId};
        $.ajax({
            url: "/company/home/GetIdentityStauts",
            dataType: 'json',
            type: 'post',
            data: postdata,
            async: false,
            success: function (data) {
                if (!data.isIdentity) {
                   status= false;
                }
            }
        });
        return status;
        //$.post('/company/home/GetIdentityStauts', postdata, function (data) {
        //    if (!data.isIdentity) {
        //        return false;
        //    }
        //    else {
        //        return true;
        //    }
        //}, 'json');
    };

    $(function () {
        var statushub = $.connection.myHub;        // 声明代理引用集线器
        statushub.client.identityStatus = function () {    //创建方法使集线器同步消息
            if (getStatus() == true) {
                $('#companyStatus').html('<h3 style="color:forestgreen">已通过验证</h3>');
            }
            else {
                $('#companyStatus').html('<h3 style="color:red">未通过验证</h3>');
            }
        };
        //开始连接
        $.connection.hub.start();
        //.done(function () { statushub.server.companyIdentityStatus(); });

        @*.done(function () {
            statushub.server.companyIdentityStatus(@Model.CompanyId);
        });
    });   *@
</script>