@model MyProject.EntitiesModel.UserInfo
@{
    ViewBag.Title = "基本信息";
    Layout = "~/Areas/User/Views/Edit/Index.cshtml";
}
<style type="text/css">
    #btnNext {
        display: none;
    }

    #btnSubmit {
        display: none;
    }
</style>

<form action="/User/Edit/BaseInfo" method="post" enctype="multipart/form-data">
    @{Html.RenderPartial("/Views/Partial/UserInfo.cshtml", Model);}
    <div style="padding-left:100px"> <input type="submit" name="name" value="保存" class="btn btn-primary" style="width:150px;height:45px;" />&nbsp;&nbsp;@ViewBag.Msg</div>
</form>
<script>
            //$('#myTabs li').eq(1).addClass('active');
</script>

