
@{
    ViewBag.Title = "ProjectExperience";
    Layout = "~/Areas/User/Views/Edit/Index.cshtml";
}

<h2>项目经验</h2>
<form action="/user/ProjectExperience" method="post">
    <input type="submit" name="name" value="提交" />
</form>
<script>
    //$('#myTabs li').eq(3).addClass('active');
</script>