
@{
    ViewBag.Title = "消息通知";
    Layout = "~/Areas/User/Views/Edit/Index.cshtml";
}
<div class="panel panel-info">
    <div class="panel-heading">
        系统通知
    </div>
    <div class="panel-body">

    </div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
       企业通知
    </div>
    <div class="panel-body">

    </div>
</div>

