@model MyProject.EntitiesModel.CompanyInfo
@{
    ViewBag.Title = "账号设置";
    ViewBag.CompanyName = Model.CompanyName;
    Layout = "~/Areas/Company/Views/Shared/ComapnyBasePage.cshtml";
}
<style type="text/css">
    #btnNext {
        display: none;
    }
    
</style>

<form action="/Company/Edit/UpdateInfo" method="post" style="width:750px; margin:0 auto;">
    @Html.Partial("~/Views/Partial/CompanyInfo.cshtml", Model)
</form>

<script type="text/javascript">
    $('#myTabs li').eq(3).addClass('active');
</script>
