@{
    ViewBag.Title = ViewBag.CompanyName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Company.css" rel="stylesheet" />
<h3>欢迎，@ViewBag.CompanyName</h3>
<div>
    <ul class="nav nav-tabs" id="myTabs">
        <li><a href="/Company">首页</a></li>
        <li><a href="/Company/Job/Release">发布职位</a></li>
        <li><a href="/Company/Job/Edit">职位管理</a></li>
        <li><a href="/Company/Edit/Resume">简历管理 <span class="badge" id="resumeMsg"></span></a></li>
        @*<li><a href="/Company/Home/Status">公司状态</a></li>*@
        <li><a href="">消息</a></li>
        <li><a href="/Company/Edit/Index">账户设置</a></li>
    </ul>
    <div id="companyContent" style="padding-top:20px;">
        @RenderBody()
    </div>
</div>
<script src="~/Scripts/company.js"></script>

